
// ---------
body{
    color: $dark;
    font-size: $foot-size;
    font-family: $foot-family;
    font-weight: $foot-wight;
}
.container{
    width: 100%;
    max-width: $xxl;
    margin: 0 auto;
    padding: 0 !important;
}
