// fonts
$foot-size: 20px;
$foot-family: 'NotoSansTaiViet-400';
$foot-wight: 300;
// color
$white: #ffffff;
$dark: #333333;
$black: black;
$span: #8a8a8a;
$bg-color: #177165;
$nav-one:#f2f4f7;
$color:rgb(124,45,251);


// container brekpoints

$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 970px;
$sm: 576px;
$xs: 320px;